body {
    background-color: #3a3a3a;
    font-family: "Roboto", sans-serif;
    color: white
}

h1 {
    user-select: none; 
    font-size: clamp(84px, 6vw, 120px);
    font-weight: 200;
    margin-bottom: 0px;
    margin-top: 40px;
}

h2 {
    user-select: none; 
    font-weight: 300;
    font-size: clamp(16px, calc(4vw / 3), 24px);
    margin-bottom: 20px;
}

#logo {
    padding-right: 10px;
    padding-left: 10px;
    height: 40px;
    width: 40px;
}

#header {
    user-select: none; 
    position: fixed;
    margin-top: 0px;
    font-size: 30px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    font-weight: 300;
}

#center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 60px;
}

#name-form {
    font-family: "Outfit", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin: 0px;
}

#name-form input {
    margin-right: 10px;
    height: 42px;
    width: 300px;
    padding: 12px 20px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 10px;
    outline: none;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

#name-form button {
    user-select: none; 
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background: linear-gradient(45deg, #6a11cb, #2575fc);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    transition: background 0.4s ease, color 0.4s ease, box-shadow 0.4s ease;
}

#name-form button:hover {
    color: #6a11cb;
    background: linear-gradient(45deg, #8b4df2, #5fa0ff);
    box-shadow: 0 0 10px rgba(106,17,203,0.5), 0 0 20px rgba(37,117,252,0.5);
    transition: 0.3s;
}

#center-form {
    background-color: #2e2e2e;
    border: 2px solid #555;
    border-radius: 15px;
    padding: 20px 30px;
    max-width: 400px;
    margin: 20px auto;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

#stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 92%;
    box-sizing: border-box;
    padding: 10px;
    gap: 10px;
}
#stats > div {
    height: 400px;
    box-sizing: border-box;
    background-color: #2e2e2e;
    border: 2px solid #555;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

@media (max-width: 1200px) {
    #stats {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 800px) {
    #stats {
        grid-template-columns: 1fr;
    }
}

.stats-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Outfit", sans-serif;
    font-size: 24px;
}