body {
    background-color: #3a3a3a;
    font-family: "Roboto", sans-serif;
    color: white
}

h1 {
    font-size: 64px;
    font-weight: 200;
}

#logo {
    padding-right: 10px;
    padding-left: 10px;
    height: 40px;
    width: 40px;
}

#header {
    position: fixed;
    margin-top: 0px;
    font-size: 30px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    font-weight: 300;
}

#center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 60px;
}

#name-form {
    font-family: "Outfit", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#name-form input {
    width: 300px;
    padding: 12px 20px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 10px;
    outline: none;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

#name-form button {
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background: linear-gradient(45deg, #6a11cb, #2575fc);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}